*{
    padding: 0;
    margin: 0;
}
.parallax-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transform: translate3d(0, 0, 0);
    transition: ease 0.1s;
    filter: blur(8px) brightness(80%); 
    -webkit-filter: blur(8px) brightness(80%);
}