body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none; /* Prevent snow from intercepting clicks */
  }